<nav id="main-menu" class="navigation pull-right" ng-controller="MenuController">
    <span ng-init="GetMenu()"></span>
    <ul ng-bind-html="menu">
        @*<li><a href="@Url.Action("Index", "Feature")">Tính năng</a></li>
            <li class="has-child">
                <a href="@Url.Action("Index", "Document")">Tài liệu</a>
                <ul class="sub-menu">
                    <li><a href="#">Video hướng dẫn</a></li>
                    <li><a href="#">Dành cho Developer</a></li>
                    <li><a href="#">Tài khoản</a></li>
                    <li><a href="#">Tích hợp</a></li>
                    <li><a href="#">Tham khảo</a></li>
                </ul>
            </li>
            <li class="has-child">
                <a href="@Url.Action("Index", "Fee")">Mức phí</a>
                <ul class="sub-menu">
                    <li><a href="#">Phí cơ bản</a></li>
                    <li><a href="#">Phí theo doanh số</a></li>
                </ul>
            </li>
            <li class="has-child">
                <a href="@Url.Action("Index", "Help")">Trợ giúp</a>
                <ul class="sub-menu">
                    <li><a href="#">Tích hợp</a></li>
                    <li><a href="#">Phí và đoàn phí</a></li>
                    <li><a href="#">Tài khoản</a></li>
                    <li><a href="#">Kế toán và Thuế</a></li>
                </ul>
            </li>
            <li class="has-child">
                <a href="#">Thông tin khác</a>
                <ul class="sub-menu">
                    <li><a href="#">Thông tin khác 1</a></li>
                    <li><a href="#">Thông tin khác 2</a></li>
                    <li><a href="#">Thông tin khác 3</a></li>
                </ul>
            </li>*@
    </ul>
</nav><!-- End .navigation -->