@{
    Layout = null;
}
<!DOCTYPE html>
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3.x Version: 1.4 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="vi" class="no-js">
<!--<![endif]-->
<!-- start: HEAD -->
<!-- Mirrored from www.cliptheme.com/preview/admin/clip-one/login_example1.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 08 Sep 2015 07:32:08 GMT -->
<head>
    <title>VNPAY CONTENT MANAGEMENT SYSTEM</title>
    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
    <link rel="stylesheet" href="~/Resources/admin/styles/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Resources/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Resources/admin/styles/fonts/style.css">
    <link rel="stylesheet" href="~/Resources/admin/styles/css/main.css">
    <link rel="stylesheet" href="~/Resources/admin/styles/css/main-responsive.css">
    <link rel="stylesheet" href="~/Resources/admin/styles/plugins/iCheck/skins/all.css">
    <link rel="stylesheet" href="~/Resources/admin/styles/css/theme_light.css" type="text/css" id="skin_color">
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body class="login example1">
    <div class="main-login col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="logo"><img src="~/Resources/admin/images/logo.png" width="140" height="50" alt="" /></div>
        <div class="welcome">Đăng nhập hệ thống!</div>
        <!-- start: LOGIN BOX -->
        <div class="box-login">
            @RenderBody()
        </div>
        <!-- end: LOGIN BOX -->
    </div>
    <div class="footer-login">
        <div class="develop_by clearfix"><div class="cont-footer col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">Powered by VNPAY</div></div>
    </div>
    <!-- start: MAIN JAVASCRIPTS -->
    <script src="~/Resources/admin/styles/js/jquery.min.js"></script>
    <!--<![endif]-->
    <script src="~/Resources/admin/styles/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="~/Resources/admin/styles/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Resources/admin/styles/plugins/iCheck/jquery.icheck.min.js"></script>
    <script src="~/Resources/admin/styles/js/jquery.validate.min.js"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            if ($('input[type="checkbox"]').length || $('input[type="radio"]').length) {
                $('input[type="checkbox"].grey, input[type="radio"].grey').iCheck({
                    checkboxClass: 'icheckbox_minimal-grey',
                    radioClass: 'iradio_minimal-grey',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].red, input[type="radio"].red').iCheck({
                    checkboxClass: 'icheckbox_minimal-red',
                    radioClass: 'iradio_minimal-red',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].green, input[type="radio"].green').iCheck({
                    checkboxClass: 'icheckbox_minimal-green',
                    radioClass: 'iradio_minimal-green',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].teal, input[type="radio"].teal').iCheck({
                    checkboxClass: 'icheckbox_minimal-aero',
                    radioClass: 'iradio_minimal-aero',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].orange, input[type="radio"].orange').iCheck({
                    checkboxClass: 'icheckbox_minimal-orange',
                    radioClass: 'iradio_minimal-orange',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].purple, input[type="radio"].purple').iCheck({
                    checkboxClass: 'icheckbox_minimal-purple',
                    radioClass: 'iradio_minimal-purple',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].yellow, input[type="radio"].yellow').iCheck({
                    checkboxClass: 'icheckbox_minimal-yellow',
                    radioClass: 'iradio_minimal-yellow',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].square-black, input[type="radio"].square-black').iCheck({
                    checkboxClass: 'icheckbox_square',
                    radioClass: 'iradio_square',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].square-grey, input[type="radio"].square-grey').iCheck({
                    checkboxClass: 'icheckbox_square-grey',
                    radioClass: 'iradio_square-grey',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].square-red, input[type="radio"].square-red').iCheck({
                    checkboxClass: 'icheckbox_square-red',
                    radioClass: 'iradio_square-red',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].square-green, input[type="radio"].square-green').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].square-teal, input[type="radio"].square-teal').iCheck({
                    checkboxClass: 'icheckbox_square-aero',
                    radioClass: 'iradio_square-aero',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].square-orange, input[type="radio"].square-orange').iCheck({
                    checkboxClass: 'icheckbox_square-orange',
                    radioClass: 'iradio_square-orange',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].square-purple, input[type="radio"].square-purple').iCheck({
                    checkboxClass: 'icheckbox_square-purple',
                    radioClass: 'iradio_square-purple',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].square-yellow, input[type="radio"].square-yellow').iCheck({
                    checkboxClass: 'icheckbox_square-yellow',
                    radioClass: 'iradio_square-yellow',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].flat-black, input[type="radio"].flat-black').iCheck({
                    checkboxClass: 'icheckbox_flat',
                    radioClass: 'iradio_flat',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].flat-grey, input[type="radio"].flat-grey').iCheck({
                    checkboxClass: 'icheckbox_flat-grey',
                    radioClass: 'iradio_flat-grey',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                    checkboxClass: 'icheckbox_flat-red',
                    radioClass: 'iradio_flat-red',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].flat-green, input[type="radio"].flat-green').iCheck({
                    checkboxClass: 'icheckbox_flat-green',
                    radioClass: 'iradio_flat-green',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].flat-teal, input[type="radio"].flat-teal').iCheck({
                    checkboxClass: 'icheckbox_flat-aero',
                    radioClass: 'iradio_flat-aero',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].flat-orange, input[type="radio"].flat-orange').iCheck({
                    checkboxClass: 'icheckbox_flat-orange',
                    radioClass: 'iradio_flat-orange',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].flat-purple, input[type="radio"].flat-purple').iCheck({
                    checkboxClass: 'icheckbox_flat-purple',
                    radioClass: 'iradio_flat-purple',
                    increaseArea: '10%' // optional
                });
                $('input[type="checkbox"].flat-yellow, input[type="radio"].flat-yellow').iCheck({
                    checkboxClass: 'icheckbox_flat-yellow',
                    radioClass: 'iradio_flat-yellow',
                    increaseArea: '10%' // optional
                });
            };
        });
    </script>
    @RenderSection("scripts", false)
</body>
<!-- end: BODY -->
<!-- Mirrored from www.cliptheme.com/preview/admin/clip-one/login_example1.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 08 Sep 2015 07:32:10 GMT -->
</html>