@using VNPRECRUITMENT.Areas.Admin.Models
@{
    ViewBag.title = "Thay đổi mật khẩu";
}
<div class="container container-edit">
    <div class="page-header">
        <h1>@ViewBag.title</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            @if (TempData["RspCode"] != null)
            {
                if ((string)TempData["RspCode"] == "99")
                {
                    <div class="alert alert-danger" role="alert">Lỗi trong quá trình cập nhật</div>
                }
                if ((string)TempData["RspCode"] == "97")
                {
                    <div class="alert alert-danger" role="alert">Mật khẩu cũ không đúng</div>
                }
                if ((string)TempData["RspCode"] == "00")
                {
                    <div class="alert alert-success" role="alert">Cập nhật thành công</div>
                }
            }
        </div>
        <div class="col-md-8">
            <form id="frmEdit1" class="form-horizontal" role="form" action="@Url.Action("ChangePass")" method="post">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Mật khẩu cũ<span class="symbol required" />: </label>
                    <div class="col-sm-7">
                        <input type="password" value="" class="form-control"  name="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Mật khẩu mới<span class="symbol required" />: </label>
                    <div class="col-sm-7">
                        <input type="password" value="" class="form-control" id="newpassword" name="newpassword">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Nhập lại mật khẩu<span class="symbol required" />: </label>
                    <div class="col-sm-7">
                        <input type="password" value="" class="form-control"  name="repass">
                    </div>
                </div>
                <div class="clear"></div>
                <div class="clearfix form-actions center">
                    <button type="submit" class="btn btn-primary btn-sm">Cập nhật</button>
                    <a onclick="@Url.Action("Index", "UserManager")" class="btn btn-dark-grey btn-sm">Hủy bỏ</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#frmEdit1').validate({
                rules: {
                    newpassword: {
                        required: true,
                        minlength: 6,
                        maxlength: 32
                    },
                    password: {
                        required: true,
                        minlength: 6,
                        maxlength: 32
                    },
                    repass: {
                        required: true,
                        equalTo: "#newpassword"
                    }
                },
                messages: {
                    newpassword: {
                        required: "Bạn phải nhập mật khẩu",
                        minlength: "Mật khẩu phải có ít nhất 6 ký tự",
                        maxlength: "Mật khẩu không được vượt quá 32 ký tự"
                    },
                    password: {
                        required: "Bạn phải nhập mật khẩu",
                        minlength: "Mật khẩu phải có ít nhất 6 ký tự",
                        maxlength: "Mật khẩu không được vượt quá 32 ký tự"
                    },
                    repass: {
                        required: "Bạn phải nhập lại password",
                        equalTo: "Mật khẩu không trùng"
                    }
                }
            });
        });
    </script>
}