body {
    font-family: "Segoe UI", Helvetica Neue,Helvetica,Arial,sans-serif;
}
.error{
    border-color: red;
}
ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar {
    margin-bottom: 0px;
    border: 0;
    min-height: inherit;
}



.navbar-brand {
    margin: 0 auto!important;
    left: 0;
    outline: 0;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    padding: 0px 15px;
}


.nav>li {
    text-transform: uppercase;
}
.nav>li>a:hover {
    background: transparent;
    color: #35358f;
}
.nav>li>a {
    padding: 15px 20px 15px 20px;
    font-size: 15px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: rgba(0,0,0,0.6);
    opacity: 0.65;
}
.navbar-default .navbar-nav>li>a:hover {
    background-color: transparent;
    opacity: 0.65;
}

.nav>li {
    text-transform: inherit;
}

.nav>li>a {
    padding: 12px 20px 12px 20px;
    font-size: 14px;
}

.text-header {
    color: #fff !important;
}

.td-text {
    text-transform: uppercase;
}

.navbar-right {
    float: right;
    text-align: right;
}

.navbar-left {
    float: left;
    text-align: left;
}

.td_tv .navbar-right {
    float: left;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: transparent;
}
.navbar-default {
    background-color: #fff;
    border-bottom: 4px solid #e5e5e5;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
}
.navbar-default .navbar-form {
    border-color: #e5e5e5;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #35358f;
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover {
    color: #35358f;
    background-color: transparent;
}
.dropdown-menu {
    background-color: #fff;
    border-radius: 0px;
    border: 0;
}
.dropdown-menu>li>a {
    color: #35358f;
    padding: 6px 10px;
}
.dropdown-menu>li>a:hover {
    color: #000;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: transparent;
}

.slide{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
}
.carousel {
    position: relative;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #e5e5e5;
    opacity: 0.8;
    color: #fff;
}
.carousel-des {
    padding: 3% 5%;
    color: #fff;
    float: left;
    text-align: left;
    top: 0 !important;
    line-height: 20px;
    position: inherit;
    display: none;

}

.col-des {
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-text {
    background: #35358f;
    /*background: #01be7e;*/
    /*padding: 22px 25px;*/
    overflow: hidden;
    text-shadow: #000 0 0 13px;
    margin-bottom: 25px;
}


.carousel-des a {
    color: #fff;
}

.carousel-des a:hover {
    color: #fff;
    text-decoration: none;
}

.carousel-thumb {
    padding: 0;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    right: 0;
    float: right;
    background-color: white;
}
.carousel-thumb img {
    width: 100%;
}
.carousel-des h4.title-slider {
    font-size: 24px;
    margin: 0 0 6px !important;
    overflow: hidden;
    padding-bottom: 5px;
    text-transform: capitalize;
    line-height: 1.2em;
}
.des-slider {
    font-size: 16px;
    line-height: 22px;
}

.btn-read-more {
    margin-top: 15px;
    height: 20px;
}
.btn-read-more a {
    color: #fff;
}
.carousel-indicators {
    position: absolute;
    bottom: 15px;
    left: auto;
    right: 0;
    z-index: 15;
    width: auto;
    padding-right: 6%;
    margin-left: 0;
    text-align: center;
    list-style: none;
}


.list-tv {
    /*margin-bottom: 25px;*/
}

.list-tv .tv-item {
    border-top: 1px solid #ccc;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
}

.list-tv .tv-item:first-child {
    border-top: 0px solid #ccc;
}

.list-tv .tv-item:hover {
    background: #fafafa;
    box-shadow: inset 5px 0 0 #35358f;
}

.tv-item h4 {
    font-size: 13px;
    margin: 0;
    /*font-weight: bold;*/
    color: #000;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    width: 90%;

}
.tv-item .content a {
    color: #6D6D6D;
    text-decoration: none;
    font-size: 14px;
}
.tv-item .content a:hover{
    color: #35358f;
    text-decoration: none;
}
.tv-item img {
    max-width: 100%;
}
.tv-item .company {
    font-size: 15px;
    color: #919191;
    margin-top: 8px;
}
.tv-item .company .tv-date {
    color: #999;
    font-size: 15px;
}
.tv-des {
    margin-top: 8px;
    color: #727272;
    text-align: justify;
    font-size: 13px;
}
.tv-type {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 3px 10px;
    border-radius: 4px;
    background: #e13646;
    display: block;
}
.tv-item .thumb {
    text-align: center;
    display: none;
}

.tv-job {
    background-color: #01be7e;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 3px 10px;
    border-radius: 4px;
    text-align: center;
    display: block;
    font-weight: bold;
    width: 104px;
    margin: 0 auto;
}

.tv-job-more {
    margin-top: 20px;
    /*margin-bottom: 50px;*/
    text-align: right;
}

.tv-job-more a {
    color: #35358f;
    font-size: 14px;
}

.tv-deadline {
    text-align: center;
    display: block;
    font-size: 13px;
}

.youtube_frame {
    position: relative;
    padding-bottom: 56%;
    padding-top: 0;
    height: 0;
}

.youtube_frame object, .youtube_frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tv-recruit {
    background-color: #3399cc; padding-top: 20px; padding-bottom: 20px; color: #fff; overflow: hidden; margin-top: 10px;
}

.tv-recruit .recruit-ring {
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    border: 2px #fff solid;
    border-radius: 100%;
    font-size: 14px;
    margin-bottom: 10px;
}

.tv-recruit .recruit-title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.tv-recruit .recruit-des {
    font-size: 14px;
}


.job-stats {
    text-align: center;
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #ddd;
    padding-top: 60px;
    padding-bottom: 80px;
}


.job-stat {
    font-size: 18px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    display: inline-block;
}

.job-stat strong {
    font-size: 85px;
    line-height: 85px;
    font-weight: normal;
    display: block;
}



.tv-newTitle {
    background: #e13646;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 8px;
}

.mytvTitle {
    background: #35358f;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 8px;
}

.tvpartTitle {
    background: #25c755;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 8px;
}

.first-item img {
    max-width: 100%;
}

.first-item h3 {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
}

.tv-item .rest-item {
    margin-top: 5px;
    margin-bottom: 5px;
}

.tv-item .rest-item a {
    color: #000;
}

.list-social {
    margin-bottom: 10px;
}

.tv-social {
    background: #00a9e0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.social-link li {
    display: inline-block;
}

.social-link .fa {
    width: 34px;
    height: 34px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #fff;
}

.social-link .fa-facebook {
    background-color: #3b5998;
}
.tv-salary{
    font-size: 13px;
}
.thumb a {
    font-size: 13px;
}
.social-link .fa-twitter {
    background-color: #33ccff;
}

.social-link .fa-google-plus {
    background-color: #dd4b39;
}
.tv-email {
    background: #00a9e0;
    margin-bottom: 18px;
}

.subscribe  {
    font-size: 13px;
    margin: 0;
    color: #fff;
}
.mail-box {
    font-size: 14px;
    padding: 0 15px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #dfdfdf;
    border-top-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 4px;
    margin-right: -4px;

}
.mail_box {
    padding-top: 20px;
}
.button-red {
    width: 85px;
    padding: 0 15px;
    height: 38px;
    color: white;
    border: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0px;
    background-color: #EA1E30;
    outline: 0;
}

.list-social .tv-follow {
    color: #000;
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.list-social .social-link {
    padding-bottom: 8px;
}

.list-social .social-link a {
    color: #000;
    font-size: 15px;
}

.socialTitle {
    font-size: 19px;
    line-height: 25px;
    font-weight: 600;
    margin-left: -1px;
    color: #000;
    margin-bottom: 5px;
}

.socialCaption {
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;
    color: #000;
    margin-bottom: 10px;
}

.footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #eee;
}

.foot-right {
    float: right;
    padding-right: 15px;
}

.foot-left {
    float: left;
    padding-top: 4px;
}
.tv-foot {
    margin-top: 10px;
    margin-bottom: 15px;
}

.list-foot {
    margin-bottom: 30px;
}

.list-foot .tv-loc {
    font-size: 16px;
    font-weight: bold;
}
.list-foot .tv-link {
    line-height: 18px;
    margin: 10px 0px;
    font-size: 13px;
}

.list-foot .tv-link a:hover {
    color: #1a1a1a;
}

.tooltip {
    font-size: 12px;
    line-height: 1.4;
}

@media (min-width: 992px) {
    .tvcom .navbar-right { float: left!important; text-align: right;}
    .tvcom .navbar-left { float: left!important; text-align: left; }
    .carousel-des { position: absolute; display: block;}


    .carousel-des h4.title-slider {
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: bold;
    }

    .carousel-text {
        background: transparent;
        /* background: #01be7e; */
        /*padding: 5px 25px;*/
        overflow: hidden;
    }

}


@media (min-width: 1200px) {
    .tvcom .navbar-right { float: left!important; text-align: right;}
    .tvcom .navbar-left { float: left!important; text-align: left; }
    .x img {
        width: 250px;height: 250px;
    }

    .tv-item .thumb {display: block}

    .carousel-des {
        position: absolute;
        display: block;
    }

    .carousel-text {
        background: transparent;
        /*background: #01be7e;*/
        /*padding: 22px 75px;*/
        overflow: hidden;
        text-shadow: #000 0 0 13px;
    }

    .carousel-des h4.title-slider {
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: bold;
    }


}



.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active,.btn-danger {
    color: #fff;
    background-color: #3399cc;
    border-color: #3399cc;
    text-transform: uppercase;
    font-weight: bold;
    /*margin-top: 20px;*/
}

/*css upload*/

.upload-header {
    margin: 0;
    text-align: center;
    padding: 20px 0;
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
}

.upload-header h1.upload-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

.upload-content {
    margin: 10px auto 60px;
}

.upload-content .job-manager-form {
    /*max-width: 75%;*/
    margin: 0 auto;
}

.upload-content fieldset {
    margin: 0 0 40px;
    padding: 0;
    border: 0;
}

.upload-content label {
  /*  text-transform: uppercase; */
}

.field input[type="text"], input[type="name"], input[type="email"], input[type="phone"], input[type="search"], input[type="password"], input[type="number"] {
    font-size: 16px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    padding: 10px 14px;
}

input:focus {
    border-color: #00a9e0;
    outline: 0;
}

select:focus {
    outline: 0;
}

.upload-content .select {
    font-size: 16px;
    padding: 10px 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
    z-index: 1;
}

.upload-content .select select {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
    display: block;
    font-size: 100%;
    line-height: normal;
    margin: 0;
    padding: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.upload_file {
    margin-bottom: 20px;
}

.optionsRadios, #link_website, #file_cv {
    float: left;
}

.optionsRadios {
    margin-right: 10px !important;
}
.progress-bar-success {
    opacity: 0.8;
}
.blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
}
li h3 {
    padding-top: 10px;
    padding-bottom: 8px;
    border-bottom: 3px solid #ccc;
    text-transform: uppercase;
    font-size: 18px;
}
li h3 span {
    /*border-bottom:1px solid #ccc;*/
    padding-bottom: 5px;
}
.more-hot{
    /*padding-left: 25px;*/

}
.more-hot span {
    padding: 10px 27px;
    background: #3399cc;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border:2px solid transparent;
}
.more-hot span:hover {
    background: transparent;
    border:2px solid #fff;
}
.des-banner{
    max-width: 30%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 69px
}
.des-banner p { display: none}
.ut{
    vertical-align: top;
    width: 22px;
}
.header-list{
    text-align: center;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    border-bottom: 0;
    /*margin-bottom: 10px;*/
}
.tvcom .nav li a{
    padding: 12px 15px;
    font-size: 15px;
}


.tv_filters {
    margin-top: 10px;
    padding: 15px 0;
    background: #99cce6;
    overflow: hidden;
}
.search_keywords input[type="text"] {
    font-size: 13px;
    padding: 8px 10px;
    background: #fff;
    border: 0;
    border-radius: 6px;
    /*width: 100%;*/
}

select:focus {
    outline: 0;
}

.select {
    font-size: 13px;
    padding: 8px 10px;
    background: #fff;
    border: 0;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    width: 100%;
}

.select select {
    width: 100%;
}

.search_submit input[type="button"] {
    font-size: 13px;
    background: #3399cc;
    color: white;
    padding: 8px;
    margin-right: 0;
    width: 100%;
    border-radius: 4px;
    border: 0;
    font-weight: bold;
}
.des-index{
    color: black;
}
.des-align{
    text-align: justify;
    font-size: 14px;
}

.tv-quot {
    width: 50%;
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
    margin-right: 15px;
    margin-top: 5px;
}
.addon img{
    max-width: 100%;
    border-radius: 0;
}
.addon{
    padding: 0;
    margin: 0 0 30px 0;
}
.addon h1{
    font-size: 22px;
    /*font-weight: bold;*/
    /*border-top: 1px #ccc solid;*/
    border-bottom: 3px #ccc solid;
    padding: 10px 0 10px 0;
    text-transform: uppercase;

}
.logo-addon{
    padding: 0 80px;
    margin-top: 15px;
}
.caption-home{
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}
.page-title{
    font-size: 25px;
}
.panel-title{
    font-size: 14px;
}
.right-col{

}
.right-col img{
    width: 127px;
    height: 127px;
    float: left;
    padding: 0 4px 4px 0;
}
.btn-lg{
    padding: 8px 10px;
    font-size: 16px;
}
.iframe{
    width: 100%;
    height: 100%;
    min-height: 100%;
    border: none;
    background: #ff0000;
    display: block;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: rgba(0,0,0,0.6);
    opacity: 1;
}
.navbar-default .navbar-nav>li>a:hover {
    background-color: transparent;
    opacity: 0.65;
}

.nav>li {
    text-transform: inherit;
}

.tvcom .nav>li>a {
    padding: 10px 12px;
    font-size: 14px;
}

.text-header {
    color: #333 !important;
}

.td-text {
    color: #fff !important;
    text-transform: inherit;
}

.navbar-right {
    float: right;
    text-align: right;
}

.navbar-left {
    float: left;
    text-align: left;
}

.td_tv .navbar-right {
    float: left;
}

.td_tinhvan .navbar-left {
    float: inherit;
}

@media (min-width: 1200px) {
    .tvcom .navbar-right { float: left!important; text-align: right;}
    .tvcom .navbar-left { float: left!important; text-align: left; }
    .td_tinhvan .navbar-left { float: left; }
}
#captcha{
    margin-top: 65px;
}
.full-image img{
    width: 100% !important;
    padding: 30px 50px;
}